
latitude: {{ hass_latitude }}
longitude: {{ hass_longitude }}

netatmo_api_secret: {{ netatmo_api_secret }}
netatmo_password: {{ netatmo_password }}
netatmo_api: {{ hass_netatmo_api }}
netatmo_user: {{ hass_netatmo_user }}
netatmo_station: {{ hass_netatmo_station }}

telegram_chat_id: {{ telegram_chat_id }}
telegram_par_chat_id: {{ telegram_par_chat_id }}
telegram_malena_chat_id: {{ telegram_par_chat_id }}
telegram_api_key: {{ telegram_api_key }}

base_url: "https://{{ hass_hostname }}"

nvr_ip: {{ nvr_ip }}
nvr_camera_password: {{ nvr_camera_password }}
nvr_camera_key: {{ nvr_camera_key }}

google_project_id: {{ google_project_id }}
google_api_key: {{ google_api_key }}
google_secure_device_pin: "{{ google_secure_device_pin }}"

nest_client_id: {{ nest_client_id }}
nest_client_secret: {{ nest_client_secret }}
nest_project_id: {{ nest_project_id }}