
hass_pushover_api_key: {{ hass_pushover_api_key }}
pushover_user_key: {{ pushover_user_key }}
basement_cam_pass: {{ dlink_cam_password }}
latitude: {{ hass_latitude }}
longitude: {{ hass_longitude }}
basement_cam_user: {{ hass_basement_cam_user }}

netatmo_api_secret: {{ netatmo_api_secret }}
netatmo_password: {{ netatmo_password }}
netatmo_api: {{ hass_netatmo_api }}
netatmo_user: {{ hass_netatmo_user }}
netatmo_station: {{ hass_netatmo_station }}

telegram_chat_id: {{ telegram_chat_id }}
telegram_par_chat_id: {{ telegram_par_chat_id }}
telegram_malena_chat_id: {{ telegram_par_chat_id }}
telegram_api_key: {{ telegram_api_key }}

influxdb_host: {{ influxdb_host }}
base_url: "https://{{ hass_hostname }}"
hass_db_string: mysql+pymysql://home_assistant:{{ hass_db_password }}@192.168.7.7/home_assistant?charset=utf8

camera_basement_mjpeg_url: {{ camera_basement_mjpeg_url }}
camera_basement_image_url: {{ camera_basement_image_url }}

nvr_ip: {{ nvr_ip }}
nvr_camera_password: {{ nvr_camera_password }}
nvr_camera_key: {{ nvr_camera_key }}

vapid_pub_key: {{ vapid_pub_key }}
vapid_prv_key: {{ vapid_prv_key }}
vapid_email: {{ vapid_email }}

google_project_id: {{ google_project_id }}
google_api_key: {{ google_api_key }}
google_secure_device_pin: "{{ google_secure_device_pin }}"

withings_client_id: "{{ withings_client_id }}"
withings_secret_id: "{{ withings_secret_id }}"

mqtt_broker: "{{ mqtt_broker }}"

spotify_client_id: {{ spotify_client_id }}
spotify_client_secret: {{ spotify_client_secret }}
