verisure_password: {{ verisure_password }}
wunderground_api_key: {{ wunderground_api_key }}
verisure_door_pin: {{ verisure_door_pin }}
unifi_password: {{ unifi_password }}
kodi_password: {{ kodi_password }}
hass_pushover_api_key: {{ hass_pushover_api_key }}
pushover_user_key: {{ pushover_user_key }}
google_server_key: {{ google_server_key }}
google_sender_id: {{ google_sender_id }}
basement_cam_pass: {{ dlink_cam_password }}
latitude: {{ hass_latitude }}
longitude: {{ hass_longitude }}
basement_cam_user: {{ hass_basement_cam_user }}
unifi_user: {{ hass_unifi_user }}
verisure_user: {{ hass_verisure_user }}

netatmo_api_secret: {{ netatmo_api_secret }}
netatmo_password: {{ netatmo_password }}
netatmo_api: {{ hass_netatmo_api }}
netatmo_user: {{ hass_netatmo_user }}
netatmo_station: {{ hass_netatmo_station }}

telegram_chat_id: {{ telegram_chat_id }}
telegram_par_chat_id: {{ telegram_par_chat_id }}
telegram_malena_chat_id: {{ telegram_par_chat_id }}
telegram_api_key: {{ telegram_api_key }}

transmission_user: {{ transmission_user }}
transmission_password: {{ transmission_password }}

influxdb_host: {{ influxdb_host }}
base_url: {{ hass_url }}
hass_db_string: mysql+pymysql://home_assistant:{{ hass_db_password }}@192.168.7.7/home_assistant?charset=utf8

camera_basement_mjpeg_url: {{ camera_basement_mjpeg_url }}
camera_basement_image_url: {{ camera_basement_image_url }}

nvr_ip: {{ nvr_ip }}
nvr_camera_password: {{ nvr_camera_password }}
nvr_camera_key: {{ nvr_camera_key }}